<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주소 상세 페이지</title>
</head>
<body>
<h1 th:text="${address.name}">제목</h1>
<p th:text="${address.user.username}">작성자</p>
<p th:text="${address.addressDetail}">주소 상세</p>
<p th:text="${address.tel}">전화 번호</p>
<p th:text="${address.req}">요청 사항</p>
<form th:if="${isAuthor}" th:action="@{/AddressView/delete/{id}(id=${address.addrkey})}" method="post">
    <button type="submit">삭제</button>
</form>
<form th:if="${isAuthor}" th:action="@{/AddressView/modifyForm/{id}(id=${address.addrkey})}">
    <button type="submit">수정</button>
</form>
</body>
</html>