<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주소 입력 폼</title>
</head>
<body>
<h2>주소 입력</h2>
<form action="/Address" method = "post">
    <input name = "name" type="text" placeholder="장소명">
    <br/>
    <input name = "addressDetail" type="text" placeholder="상세 주소">
    <br/>
    <input name = "tel" type="text" placeholder="전화번호">
    <br/>
    <input name = "req" type ="text" placeholder="요청사항">
    <br/>
    <button type="submit">작성</button>
</form>

</body>
</html>