<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세 페이지</title>
</head>
<body>
<h1 th:text="${item.name}">제목</h1>
<p th:text="'작성자 : '+${item.user.username}">작성자</p>
<p th:text="'작성 시간 : ' +${#temporals.format(item.rdate,'yyyy-MM-dd HH:mm:ss')}">작성 시간</p>
<p th:text="${item.content}">내용</p>
<p th:text="'거래 여부 : ' + (${item.complete} ? '완료' : '진행중')">거래 여부 체크</p>
<p th:text="'거래 방법 : ' + (${item.way})">거래 방법</p>
<form th:if="${isAuthor} or ${isAdmin}" th:action="@{/itemList/delete/{id}(id=${item.itemkey})}" method="post">
    <button type="submit">글 삭제</button>
</form>
<form th:if="${isAuthor}" th:action="@{/itemList/modifyForm/{id}(id=${item.itemkey})}">
    <button type="submit">글 수정</button>
</form>

<form th:if="${!isInWishList}" th:action="@{/wishlist/add}" method="post">
    <input type="hidden" name="itemkey" th:value="${item.itemkey}"/>
    <button type="submit">위시리스트에 추가</button>
</form>

<form th:if="${isInWishList}" th:action="@{/wishlist/delete}" method="post">
    <input type="hidden" name="itemkey" th:value="${item.itemkey}"/>
    <button type="submit">위시리스트에서 삭제</button>
</form>

<h2>댓글 목록</h2>
<ul>
    <li th:each="reply : ${replies}">
        <p th:text="${reply.user.username}">작성자</p>
        <p th:text="${reply.content}">내용</p>
        <p th:text="${#temporals.format(reply.created_at,'yyyy-MM-dd HH:mm:ss')}">작성 시간</p>
        <form th:if="${reply.user.username == #authentication.name}" th:action="@{'/Reply/delete/'+${reply.replykey}}" method="post">
            <input type="hidden" name="itemkey" th:value="${item.itemkey}"/>
            <button type="submit">댓글 삭제</button>
        </form>
    </li>
</ul>

<h2>댓글 작성</h2>
<form th:action="@{/Reply/add}" method="post">
    <input type="hidden" name="itemkey" th:value="${item.itemkey}"/>
    <textarea name="content" rows="4" cols="50" placeholder="댓글을 입력하세요"></textarea>
    <button type="submit">댓글 작성</button>
</form>
</body>
</html>
