<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 쓰기</title>
</head>
<body>
<h2>글 쓰기</h2>
<form action="/itemList/write" method="post" enctype="multipart/form-data">
    <input name="name" type="text" placeholder="제목">
    <br/>
    <textarea name="content" placeholder="내용"></textarea>
    <br/>
    <input name="price" type="text" placeholder="가격">
    <br/>
    <input name="way" type="text" placeholder="선호하는 거래 방법">
    <br/>
    <div class="radio">
        <input type="radio" name="complete" value="true" id="complete-yes">
        <label for="complete-yes">거래 완료</label>
        <br/>
        <input type="radio" name="complete" value="false" id="complete-no" checked>
        <label for="complete-no">거래 미완료</label>
    </div>
    <br/>
    <button type="submit">작성</button>
</form>
</body>
</html>
